*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: radial-gradient(circle, white, grey);
}

#container{
    height: 60%;
    width: 600px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px #009def;
    position:relative;
}

#title{
    color: white;
    font-family:monospace, sans-serif;
    font-size: 30px;
    position: absolute;
    left: 70px;
    
}

#score{
    float:right;
    background-color: #f1ff92;
    color: #888E5F;
    padding: 10px;
    box-shadow: 0px 4px 5px 0px #888E5F;
    
}

#correct{
    position: absolute;
    left: 260px;
    background-color: springgreen;
    color: white;
    padding: 10px;
    display:none;
}    

#wrong{
    position: absolute;
    left: 260px;
    background-color: red;
    color: white;
    padding: 10px;
    display: none;
}    
#question{
    display: grid;
    place-items:center;
    width: 450px;
    height:150px;
    background-color: #9da0ea;
    margin:50px auto 10px auto;
    border-radius: 5px;
    font-size:100px;
    font-family: monospace, sans-serif;
    color: black;
}
    
#instruction{
    width:450px;
    height: 50px;
    margin: 10px auto 10px auto;
    background-color: #b085d5;
    box-shadow: 0px 4px 5px #8153a8;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 5px;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height:85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;

    color: rgba(0,0,0, 0.5);
    font-size: 30px;
    text-align: center;
    line-height: 85px;
    position: relative;
}

.box:hover{
    opacity: 0.7;
}

.box:active{
    box-shadow:0px 0px 0px #6b54d3;
    top: 1px;
    left:1px;
}
#box4{
    margin-right: 0;    
}

#startreset{
    width: 200px;
    height: 40px;
    background-color: rgba(255,255,255, 0.5);
    margin: auto;
    border-radius: 3px;
    box-shadow: 0px 4px 5px #a5b5f2;
    text-align: center;
    color: black;
    font-family: monospace, sans-serif;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

#startreset:active{
    box-shadow:0px 0px 0px #6b54d3;
    top: 2px;
    left:1px;
}   

#timeremaining{
    float: right;
    padding: 10px;
    background-color: #add137;
    border-radius: 3px;
    position: relative;
    bottom: 40px;
    box-shadow: 0px 4px 5px #7b9419;
    -moz-box-shadow: 0px 4px 5px #7b9419;
    -webkit-box-shadow: 0px 4px 5px #7b9419;
    font-size: 15px;
    display: none;
}
#gameover{
    padding-top:50px;
    width:500px;
    height: 200px;
    position: absolute;
    top:100px;
    left:45px;
    background:brown;
    color: white;
    text-align: center;
    font-size: 40px;
    display: none;
    
}

    
    
